# Generate Minimax-Labelled Dataset

This notebook uses the minimax agent to generate board states and label them with the optimal move determined by minimax with alpha-beta pruning.  
The labelled data is saved as `minimax_labelled_data.csv` for training a machine learning agent that mimics minimax.

## 1. Setup

Import required libraries and game logic used for board generation and evaluation.

In [1]:
import pandas as pd
import random
from game import Connect4

## 2. Generate Random Board

Function to create a random, valid Connect 4 board by simulating a random number of turns.

In [2]:
def generate_random_board():
    game = Connect4()

    moves_to_make = random.randint(6, 20)
    current_player = game.PLAYER_1

    for _ in range(moves_to_make):
        # Get a list of all columns that aren't full
        valid_columns = [col for col in range(7) if game.is_valid_move(col)]

        # Stop if board full/no valid moves
        if not valid_columns:
            break

        col = random.choice(valid_columns)
        game.drop_disc(col, current_player)

        current_player = game.PLAYER_2 if current_player == game.PLAYER_1 else game.PLAYER_1

    return game

## 3. Label Board with Minimax

Uses minimax with alpha-beta pruning to determine the best move for a given board.

In [3]:
def label_board_with_minimax(game):
    flat_board = [game.convert_symbol(cell) for row in game.board for cell in row]
    move = game.minimax_agent_move()
    return flat_board, move

## 4. Generate and Label Dataset

Generates multiple random board states, applies minimax, and stores them as training examples.

In [4]:
# Generate random boards and label each with the best move from minimax
data = []

for _ in range(2000):
    game = generate_random_board()
    if not game.is_full():
        board, move = label_board_with_minimax(game)
        data.append(board + [move])

## 5. Save Dataset

Convert the labelled data to a DataFrame and save it as `minimax_labelled_data.csv`.

In [5]:
df = pd.DataFrame(data)
df.to_csv("minimax_labelled_data.csv", index=False)

## 6. Preview Output

Display a few rows from the saved dataset to ensure it was saved correctly.

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0,0,0,0,0,0,0,0,0,...,-1,0,1,-1,-1,1,-1,1,1,3
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1,0,-1,-1,-1,3
2,0,0,0,0,0,0,0,0,0,0,...,0,1,1,-1,-1,1,0,1,-1,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,4
4,0,0,0,0,0,0,-1,0,0,0,...,-1,-1,-1,1,-1,1,-1,1,1,4